.input-color-field {
  height: 50px;
}

.input-field {
  width: 100%;
  height: 100%;

  padding: 10px;
  box-sizing: border-box; /* Make sure padding doesn’t affect the width */
}

.label-field {
  font-size: 14px;
  font-weight: 500;
  color: var(--input-background-color);
  margin-bottom: 5px;
}

.input-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.input-item {
  padding: 0;
  margin: 0;
}

.OpenOverlayButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.label-field--wrong {
  
  border-color: #ff0000;
  border-style: solid;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1d24af;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #1f2591;
}